<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../css/styleProva.css">

<link rel="icon" type="image/png" href="../img/favicomatic/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="../img/favicomatic/favicon-16x16.png" sizes="16x16" />
<link rel="stylesheet" href="">

</head>

<body>
    <body>
	<!-- Sostituire con tag HTML5 <header>? Vedere pro e contro
		Contro: XHTML5 non esiste -> in xhtml i tag header e footer non esistono.

	-->
	<div class="nav" id="nav">
		<div class="nav__logo-container" id="nav__logo-container">
			<a href="<!-- refHome -->" title="Homepage"> 
				<img src="../logo/logo_TVhunter.png" alt="logo del sito, riporta alla homepage">		
			</a>
		</div>
		
		<div class="nav__ricerca">
			<input type="text" placeholder="Cerca..">
		</div>
		
		<ul class="nav__top-list list_no-style	" id="nav__top-list">
			<li class="nav__esplora"><a href="<!-- refEsplora -->" title="Esplora">Esplora</a></li>
			<li class="nav__restricted nav__profilo"><a href="<!-- refProfilo -->" title="Profilo">Profilo</a></li>
			<li class="nav__restricted nav__preferiti"><a href="<!-- refPreferiti -->" title="Preferiti">Preferiti</a></li>
		</ul>

		<ul class="nav__bottom-list list_no-style">
			<li class="nav__restricted nav__impostazioni"><a href="<!-- refImpostazioni -->" title="Impostazioni">Impostazioni</a></li>
			<li class="nav__faq"><a href="<!-- refFaq -->"><acronym title="Frequently Asked Questions">FAQ</acronym></a></li>
			<li class="nav__supporto"><a href="<!-- refSupporto -->" title="Supporto">Supporto </a></li>
			<li class="nav__privacy"><a href="<!-- refPrivacy -->" title="Privacy"><span xml:lang="EN">Privacy</span></a></li>
			<li class="nav__about"><a href="<!-- refAbout -->" title="About"><span xml:lang="EN">About</span></a></li>
   		</ul>

		<div class="nav__social">
		</div>
		<div class="nav__icon">
			<a href="#footer-responsive-menu"><i class=""></i>Menu</a> <!-- TODO: aggiungere pulsante icons -->
		</div>

	</div>

    <div class="page-center">       
        <div id="login-bar" class="login-bar vertical-center">
            <div class="non-logged-user align-right">
                <span>Accesso non effettuato.</span>
                <button><a href="">Accedi</a></button>
            </div>
            <div class="logged-user align-right display-none">
                <span class="user-name"><a href="">dbarasti</a></span> (
                <a href="">Logout</a>)
            </div>
        </div>

        <div class="content">
            <div id="pagina-amministratore">
				<h1> Area Amministratore </h1>		
				<h2> 
					Benvenuto nell'area riservata agli amministratori del sito, da qui potrai vedere i commenti che sono stati segnalati 
					e le i messaggi che sono stati spediti dagli utenti, a lato è possibile vedere il nome dell'utente che ha spedito 
					il messaggio. 
				</h2>

				<div class= "parte-segnalazioni">
					<div id="descrizione-tabella-segnalazioni">
						<strong>Segnalazioni effettuate</strong>: per ogni segnalazione è presente il nome dell'utente che ha segnalato e il commento.
					</div>				
					<table id="segnalazioni">									
							<tr>
    							<th>Nome Utente</th>
    							<th>Commento</th>
    							<th>Elimina	</th>
  							</tr>
					
						<!--  Format di tabella da replicare per ogni tipo di segnalazione  -->
  						<tr>
    						<td class="nome-utente">Nome utente</td>
    						<td class="tipo-segnalazione">Commento segnalato</td>
    						<td class="spazio-eliminazione">
    							 <a href="www.google.com">
									<img src="../img/admin/trash.png" class= "elimina-commento" alt="immagine cestino"></img>
								</a>
    						</td>    							    			
  						</tr>
  						<tr>
    						<td class="nome-utente">Nome utente</td>
    						<td class="tipo-segnalazione">Commento segnalato</td>
    						<td class="spazio-eliminazione">
    							 <a href="www.google.com">
									<img src="../img/admin/trash.png" class= "elimina-commento" alt="immagine cestino"></img>
								</a>
    						</td>    							    			
  						</tr>
  						<tr>
    						<td class="nome-utente">Nome utente</td>
    						<td class="tipo-segnalazione">Commento segnalato</td>
    						<td class="spazio-eliminazione">
    							 <a href="www.google.com">
									<img src="../img/admin/trash.png" class= "elimina-commento" alt="immagine cestino"></img>
								</a>
    						</td>    							    			
  						</tr>
					</table>
				</div>

				<div id="messaggi">
					<div id="descrizione-tabella-messaggi">
						<strong>Messaggi</strong>: per ogni messaggio ricevuto è presente il nome dell'utente che l'ha spedito e il suo contenuto.
					</div>	

					<table id="tabella-messaggi">
						<tr>
    						<th>Nome Utente</th>
    						<th>Messaggio</th>
    						<th>Elimina</th>
  						</tr>
  						<tr>
  							<td class="nome-utente">Nome utente</td>
							<td class="messaggio-inviato">Messaggio</td>
  							<td class="spazio-eliminazione">
    							<a href="www.google.com">
									<img src="../img/admin/trash.png" class= "elimina-commento" alt="immagine cestino"></img>
								</a>
    						</td>   
  						</tr>
  							<tr>
  							<td class="nome-utente">Nome utente</td>
							<td class="messaggio-inviato">Messaggio</td>
  							<td class="spazio-eliminazione">
    							<a href="www.google.com">
									<img src="../img/admin/trash.png" class= "elimina-commento" alt="immagine cestino"></img>
								</a>
    						</td>   
  						</tr>
  							<tr>
  							<td class="nome-utente">Nome utente</td>
							<td class="messaggio-inviato">Messaggio</td>
  							<td class="spazio-eliminazione">
    							<a href="www.google.com">
									<img src="../img/admin/trash.png" class= "elimina-commento" alt="immagine cestino"></img>
								</a>
    						</td>   
  						</tr>
					</table>
				</div>

   		 	</div>
            <div id="privacy-content"></div>
        </div>
    </div>

	<div class="footer">
		<div class="footer__nav">
			<ul class="list_no-style">
				<li><a href="">Supporto </a></li>
				<li><a href=""><span xml:lang="EN">Privacy</span></a></li>
				<li><a href="">About</a></li>
			</ul>	
		</div>
	</div>

	<div id="footer-responsive-menu">
		<ul class="list_no-style">
			<li><a href="<!-- refEsplora -->" title="Esplora">Esplora</a></li>
			<li><a href="<!-- refProfilo -->" title="Profilo">Profilo</a></li>
			<li><a href="<!-- refPreferiti -->" title="Preferiti">Preferiti</a></li>
			<li><a href="">Supporto </a></li>
			<li><a href=""><span xml:lang="EN">Privacy</span></a></li>
			<li><a href="">About</a></li>
		</ul>	
	</div>

	<div id="torna-su">
		<a href="#">Torna su</a>
	</div>


	</div>


<script>
function myFunction() {
    var x = document.getElementById("nav");
    var y = document.getElementById("nav__top-list");
    var z = document.getElementById("nav__logo-container");


    if (x.className === "nav") {
        x.className += " responsive";
        y.className += " responsive";
        z.className += " responsive";
    } else {
        x.className = "nav";
        y.className = "nav__top-list";
        z.className = "nav__logo-container";
    }
}

//Parte Stagione->Episodio 
function episodi(link) { 
	  if (window.XMLHttpRequest) { 
	    // code for IE7+, Firefox, Chrome, Opera, Safari 
	    xmlhttp=new XMLHttpRequest(); 
	  } else {  // code for IE6, IE5 
	    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP"); 
	  } 
	  xmlhttp.onreadystatechange=function() { 
	    if (this.readyState==4 && this.status==200) { 
	      document.getElementById("stagione").innerHTML=this.responseText; 
	    } 
	  } 
	  xmlhttp.open("GET",String(link),true); 
	  xmlhttp.send(); 
	} 

//Parte searchBar
function showResult(str) {
	  if (str.length==0) {
	    document.getElementById("risultati-ricerca").innerHTML="";
	    document.getElementById("risultati-ricerca").style.border="0px";
	    return;
	  }
	  if (window.XMLHttpRequest) {
	    // code for IE7+, Firefox, Chrome, Opera, Safari
	    xmlhttp=new XMLHttpRequest();
	  } else {  // code for IE6, IE5
	    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	  xmlhttp.onreadystatechange=function() {
	    if (this.readyState==4 && this.status==200) {
	      document.getElementById("risultati-ricerca").innerHTML=this.responseText;
	      document.getElementById("risultati-ricerca").style.border="1px solid #A5ACB2";
	    }
	  }
	  xmlhttp.open("GET","../php/livesearch.php?q="+str,true);
	  xmlhttp.send();
	}
	

</script>

</body>
</html>
   


    