/*Utils*/
.list_no-style{
  list-style: none;
}

.list-inline li{
  display: inline;
  float: left;
}

.list-inline a{
  display: block;
  padding: 8px;
}

/*body*/
body{
  	margin:0;
	width: auto !important;
	height: 100%;
}


.title h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  text-rendering: optimizeLegibility;
  color: #2c2c2c !important;
  background-color: #d5d5d5;
  letter-spacing: .05em;
  text-shadow: 
  1px 1px 0px #d5d5d5, 
  4px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
}



@media screen and (max-width: 1024px) and (min-width: 721px){ /*stile tablet*/
}

@media screen and (min-width: 1025px){ /*stile desktop*/
}